{% extends "home.html" %}
<!--{% load static %}-->

<link rel="stylesheet" href="{% static 'new.css' %}">
{% block content %}


    <div id="header">
        <div id="title_head">
            <a name="title"><h2>Poland is amazing, explore it</h2></a>
            <p>
                Explore Poland was created to make it easier for you to travel through the beautiful country of Poland.<br>
On the website you will find not only interesting offers for accommodation in the 3 most popular locations, but also you will get reliable opinions that will help you make a decision.

Search for apartments, cottages, hotels.
Facilities with a swimming pool, terrace or barbecue area? You can find them all with us. Use filters to choose the amenities you need.<br>Find one of them</p>
            <br>
        </div>

<div id="solid">

        <div id="solid_box" class="margin3">
<img src="{% static 'homepage/gory.jpg' %}">
<a href="test/mountain/">Mountain</a>
                    </div>

        <div id="solid_box" class="margin2">
          <img src="{% static 'homepage/jeziora.jpg' %}">
       <a href="test/lakes/">Lakes</a>
             </div>

        <div id="solid_box" class="margin2">
     <img src="{% static 'homepage/morze.jpg' %}">


          <a href="test/sea/">Sea</a>
               </div>
       </div>


<div id="footer">
<p>© Wszelkie prawa zastrzeżone. <br> Projekt: <a
             href="http://www.templatki.net">Darmowe Szablony Stron</a></p>
 </div>
</div>
{% endblock %}