{% extends "review_form_karola.html" %}

{% block content %}
<form method="post" xmlns="http://www.w3.org/1999/html">
     {% csrf_token %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <form id="feedback" action= "">


  <div class="pinfo"> Your name is: {{ user.username }} </div>
        <div class="pinfo">Rate our overall services.</div>
        <div class="form-group">
            <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-heart"></i></span>
                <select class="form-control" id="rating"">
                    <option value="1star">1</option>
                    <option value="2stars">2</option>
                    <option value="3stars">3</option>
                    <option value="4stars">4</option>
                    <option value="5stars">5</option>
                     <option value="6stars">6</option>
                     <option value="7stars">7</option>
                     <option value="8stars">8</option>
                    <option value="9stars">9</option>

                </select>

             </div>

            </div>

        </div>



        <div class="pinfo">Write your feedback.</div>
    <div class="form-group">
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                <textarea class="form-control" id="review_body" rows="7"></textarea>

            </div>

        </div>

    </div>
<!--        {{ form }}-->
   <input type="submit" value="Submit" class="btn btn-primary">
 </form>
{% endblock %}