{% load static%}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Review Your Reservation</title>

    <link rel="stylesheet" href="{% static 'new2.css' %}">
</head>

<body>
<div id="wrapper">

    <div id="menu">
        <ul>
            {% if user.is_authenticated %}
                <li> <a href="{% url 'logout_user' %}">Logout</a></li>
                <li> <a href="{% url 'profile_edit' %}">Edit Profile</a></li>
             {% else %}
                <li><a href="{% url 'login_user' %}">Login</a></li>
                <li><a href="{% url 'register_user' %}">Register</a></li>
            {% endif %}

                <li><a href="{% url 'home_page_app:main' %}">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="{% url 'create_review' %}">Offer</a></li>
        </ul>
    </div>
    <div id="logo">
        <img src="{% static 'homepage/explore_poland.jpg'%}" style="width: 980px;">


         <h2 id="fh2">Hello {{ user.username }},</h2>
        <h2 id="fh2">WE APPRECIATE YOUR REVIEW!</h2>
        <h2 id="fh2">tutaj powinno być info jakiej rezerwacji dotyczy review ???</h2>
        <h2 id="fh2">Thank You !</h2>
        <h5 id="fh5">Your review will help us to improve our web hosting quality products, and customer services.</h5>
        <div class="container">
            <div class="jumbotron">

                {% block content %}
                 <table>
                <tr>
                    <td><b>ID</b></td>
                    <td><b>Rating</b></td>
                    <td><b>Review</b></td>
                 </tr>
        {% for review in reviews %}
                 <tr>
                     <td>{{ review.id }}</td>
                    <td>{{ review.rating }} </td>
                    <td>{{ review.review_body }}</td>
                 </tr>

                    </table>
        {% endfor %}
                {% endblock %}
            </div>
        </div>

    </div>



</div>


</body>
</html>