<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Szablon</title>

 <link rel="stylesheet" type="text/css" href="css/style.css">
 
</head>

<body>
	 <div id="wrapper">
	
	<div id="logo">
	<img src="images/explore_poland.jpg" style="width: 980px;">

    <div id="header">
    <div id="title_head">
    <h2>Hi {{ user.username }} !</h2>
    <p>
Your account for email has been registered</p>
    <br>

    </div>    
    </div>
    </div>
   
    <div id="footer">
        <p>© Wszelkie prawa zastrzeżone. <br> Projekt: <a href="http://www.templatki.net">Darmowe Szablony Stron</a></p>
    </div>
    </div>


</body></html>