{% extends 'base.html' %}
{% load static %}

{% block title %}
	Lista ofert
{% endblock %}
{% block site %}


<div class="card">
	<div class="card-body">
		<img src="{{ place.images.url }}" class="places-img">
        {% for image in images  %}
        <img src="{{ image.images.url }}" class="places-img">
        {% endfor %}
			<div class="row">
				<div class="col-9">
				<h1>{{ place.place_name }}</h1>
					<div class="info">Location: <br>
                        <p><i class="fa fa-map-marker"></i> {{ place.city }}</p>
                    </div>
				</div>
				<div class="col-3">
					<p class="check">Check-in .... Check-out....<p>
                    <p class = "price"> PRICE per night: {{ place.price_per_night }} PLN </p>
                    <p class = "price"> PRICE all: {{ place.price_per_night }} </p>
				</div>
			</div>
		<p class="text">This is a summary of your booking, if everything is correct, press the confirm button. Remember that you can pay for accommodation on the spot.</p>
    	<a href="{% url 'review_app:view_review' %}"><buttom class="button">VIEW ALL REVIEWS FOR THIS PLACE</buttom></a>
		<a href="{% url 'home_page_app:main' %}"><buttom class="button">GO TO MAIN PAGE</buttom></a>

	</div>
</div>

{% endblock %}