{% extends 'base.html' %}
{% load static %}

{% block title %}
	Lista ofert
{% endblock %}

{% block site %}

		<h2>number of offers for region: - {{ object_list|length }}</h2>
	{% for place in object_list %}

<div class="card">
	<div class="card-body">
		<img src="{{ place.images.url }}" class="places-img">
			<div class="row">
				<div class="col-9">
				<p class="card-title"></bold>{{ place.place_name }}</p>
                    <a href="{% url 'get_detail' place.id %}"><buttom class="button">RESERVE!</buttom></a>
					<div class="facilities">Facilities:</div>
					<div>
						<ul>
						<li>{{ place.facilities }}</li>
						</ul>
					</div>

				</div>
				<div class="col-3">
					<p class="price">Price {{ place.price_per_night }} PLN/per night<p>
				</div>
			</div>

        <div class="region">&#128204; {{ place.region }}: {{ place.city }} <br></div>
        <div class="row">
		<p class="card-text">{{ place.description }}</p>
		</div>
		<p></p>
		<a href="{% url 'view_review' %}"><buttom class="button">VIEW ALL REVIEWS FOR THIS PLACE</buttom></a>
		{% if user.is_authenticated %}
		<a href="{% url 'create_review' %}"><buttom class="button">ADD NEW REVIEW FOR THIS PLACE </buttom></a>
		{% endif %}
		<a href="{% url 'home_page_app:main' %}"><buttom class="button">GO TO MAIN PAGE</buttom></a>

		<p></p>
		</div>
</div>
    {% endfor %}


{% endblock %}

