{% extends "home_for_user.html" %}
{% load crispy_forms_tags %}

{% include 'authenticate/messaging.html' %}
{% block content %}

<!--{% if messages %}-->
<!--<ul class="messages">-->
<!--    {% for message in messages %}-->
<!--    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->
<!--{% endif %}-->

<div class="shadow p-4 mb-5 bg-body rounded">
<h1>Register new user</h1>
<br/><br/>
 <form action="{% url 'register_user' %} " method=POST>
   {% csrf_token %}
   {{ form|crispy }}
     <br></br>
   <input type="submit" value="Submit" class="btn btn-primary">
 </form>
</div>
<br/><br/>
{% endblock %}